spring:
  redis:
    host: ec2-3-38-98-214.ap-northeast-2.compute.amazonaws.com
    timeout: '1'
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 1cb33b602a71c7122806d81f3dd44f6e
            redirect-uri: http://ec2-13-125-187-246.ap-northeast-2.compute.amazonaws.com/api/account/login
            client-secret: 1r3mG2aVyiTinsQUGC5HJ0EWr5jYLGZk
            client-authentication-method: post
            authorization-grant-type: authorization_code
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            userNameAttribute: id
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show-sql: true
  cache:
    type: redis
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    password: '0905'
    username: postgres
    url: jdbc:postgresql://ec2-13-125-121-50.ap-northeast-2.compute.amazonaws.com/testdb
cloud:
  aws:
    s3:
      bucket:
        url: https://test-spring.s3.ap-northeast-2.amazonaws.com
        name: test-spring
    credentials:
      instance-profile: true
      accessKey: AKIA33DBN5SFK2YBAG56
      secretKey: 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
    region:
      static: ap-northeast-2
    stack:
      auto: false
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        SQL: DEBUG